@use "sass:math";

$light-green: #AEC6AA;
$pale-green: #7cb232;
$dark-green: #00703C;
$orange: #E45300;
$text: #262626;

$weight-extrabold: 700;
$weight-bold: 700;
$weight-medium: 600;


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);

// OPEN SANS

#ufv-map-root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: $text;
  *, *:after, *:before {
    box-sizing: border-box;
  }
  .icon {
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    box-sizing: content-box;
    cursor: pointer;
    &.back { background-image: url(./images/icons/close.svg); }
    &.back.white { background-image: url(./images/icons/close-white.svg); }
    &.sound { background-image: url(./images/icons/sound-mute.svg); }
    &.sound.active { background-image: url(./images/icons/sound.svg); }
    &.thumbs { background-image: url(./images/icons/thumbs.svg); }
    &.hoverable {
      position: relative;
      &.back:hover {
        &:before {
          content: '';
          position: absolute;
          top: 5px;
          right: 5px;
          bottom: 5px;
          left: 5px;
          background-color: $dark-green;
          background-image: url(./images/icons/close-white.svg);
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 100%;
        }
      }
      &.back.white:hover {
        &:before {
          background-color: white;
          background-image: url(./images/icons/close.svg);
        }
      }
    }
    &.green {
      width: 23px;
      height: 23px;
      margin: 5px;
      background-color: #8DC63F;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 28px 28px;
      border-radius: 100%;
      box-shadow: 0 2px 4px rgba(0,0,0,0.5);
      &:hover {
        background-color: lighten(#8DC63F, 10%);
      }
    }
  }
  .stage {
    // margin: 0 auto;
    // max-width: 400px;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 750px) {
      display: flex;
      > div {
        width: 50%;
        position: relative;
      }
    }
  }
  .player {
    background: $light-green;
  }
  .instructions {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    @media screen and (max-width: 749px) {
      &.hide { display: none; }
    }
    h1 {
      padding: 10px 0 10px;
      max-width: 220px;
      text-align: center;
      font-weight: $weight-extrabold;
      font-size: 24px;
      color: #FFFFFF;
      text-align: center;
    }
    @media screen and (min-width: 750px) {
      background: $light-green;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      h1 {
        background: $pale-green;
        padding: 20px 20px;
        max-width: 100%;
        // width: 60%;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 18px;
        text-align: center;
        // font-weight: normal;
      }
    }
  }
  .modal {
    pointer-events: none;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;
    z-index: 1;
    .backdrop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,0.5);
    }
    .video-wrap {
      overflow: hidden;
      position: relative;
      height: 0;
      width: 90%;
      padding: 0;
      padding-bottom: calc(90% * (4/3));
      background: black;
      // border-radius: 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.3);
      &:after {
        position: absolute;
        content: '';
        height: 30%;
        width: 100%;
        top: 0; left: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,.8) 20%, rgba(0,0,0,0) 100% );
      }
    }
    .top-controls {
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 1;
      color: white;
      h1 {
        margin: 10px 16px 0;
        font-weight: $weight-bold;
        font-size: 22px;
        line-height: math.div(26, 22);
        padding-right: 50px; // avoid controls
      }
      h2 {
        margin: 8px 16px 0;
        font-weight: $weight-medium;
        font-size: 18px;
        line-height: math.div(21,18);
        padding-right: 50px; // avoid controls
      }
      .controls {
        position: absolute;
        top: 0;
        right: 0;
        .icon {
          margin-bottom: 20px;
        }
      }
      .meta-reaction {
        padding: 0px 15px 10px;
        display: flex;
        align-items: center;
        .icon {
          padding: 5px;
          @media screen and (min-width: 375px) {
            padding: 10px;
          }
          @keyframes spin {
            0% {
              transform: rotate(0) scale(1);
            }
            50% {
              transform: rotate(360deg) scale(1.25);
            }
            100% {
              transform: rotate(720deg) scale(1);
            }
          }
          &.emote {
            animation: spin 500ms;
          }
        }
        .name {
          flex: 1;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
    .bottom-controls {
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: 1;

      .top {
        display: flex;
        align-items: flex-end;
      }
      .caption-wrap {
        flex: 1;
        text-align: center;
      }
      .captions {
        display: inline-block;
        padding: 5px 12px;
        color: white;
        background: rgba(0,0,0,.8);
        margin: 0 25px 15px;
        border-radius: 10px;
        text-align: center;
      }
      .progress {
        height: 8px;
        width: 100%;
        transition: transform 250ms linear;
        transform-origin: bottom left;
        transform: scaleX(0.0001);
        background: #427D03;
      }
    }
    video {
      // border-radius: 10px;
      display: block;
      // width: 85%;
      // height: auto;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      // transform: translateY(-110%);
      transition: transform 0.3s ease-out;
    }
    @media screen and (min-width: 750px) {
      .video-wrap {
        width: 100%;
        padding-bottom: calc(100% * (4/3));
        box-shadow: none;
      }
      .video-wrap, .name, video {
        border-radius: 0;
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
    &.active video {
      // transform: translateY(0%);
    }

  }
  .building {
    cursor: pointer;
    .hover,
    &.visited .initial,
    .active { display: none; }
    &:hover .hover,
    &.visited .active { display: block; }
    &:hover .initial { opacity: 1; }
  }
  /*.building .initial { opacity: .7; }*/

  .locations {
    position: relative;
    .toggle {
      background: url(./images/toggle-map.svg);
      background-size: contain;
      width: 98px;
      height: 62px;
      z-index: 1;
      position: absolute;
      bottom: 2px;
      right: 2px;
      text-indent: -9999px;
      cursor: pointer;
      // Bigger tap area.
      &:after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -10px;
        left: -5px;
        right: -10px;
      }
      &.active {
        background-image: url(./images/toggle-list.svg);
      }
      &.hide {
        display: none;
      }
    }
    .map {
      position: relative;
      height: 0;
      width: 100%;
      padding: 0;
      padding-bottom: calc(100% * (4/3));
      svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
      #Texture {
        pointer-events: none;
      }
      #Buildings > g#Building_C {
        opacity: 0.5;
      }
      #Buildings > g:not(#Building_C) {
        cursor: pointer;
        &:hover, &.visited {
          #Hover, [data-name="Hover"] {
            display: none;
          }
        }
      }
    }
    .list {
      position: absolute;
      background: rgba(255,255,255,.92);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      // padding: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: none;
      &.active {
        display: block;
      }
      h1 {
        font-size: 24px;
        font-weight: $weight-extrabold;
        text-align: center;
        line-height: math.div(26,24);
      }
    }
    .location {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 15px 15px;
      margin: 0px 0;
      @media screen and (min-width: 750px) {
        padding: 5px 10px;
      }
      .icon {
        // object-fit: cover;
        // height: 40px;
        margin-right: 10px;
        // border-radius: 100%;
        // border: 2px solid $light-green;
      }
      .image {
        width: 20%;
        margin-right: 15px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .hover {
          display: none;
        }
      }
      .text {
        flex: 1;
      }
      &:hover, &.visited {
        .image {
          .default {
            display: none;
          }
          .hover {
            display: block;
          }
        }
      }
      h1 {
        margin: 0;
        flex: 1;
        font-size: 18px;
        font-weight: $weight-bold;
        text-align: left;
        @media screen and (min-width: 750px) {
          // font-size: 22px;
        }
      }
      h2 {
        margin: 5px 0 0;
        font-size: 16px;
        font-weight: 400;
      }
      h3 {
        margin: 5px 0 0;
        font-size: 12px;
        line-height: math.div(14,12);
        font-weight: normal;
        text-align: left;
      }
      &.visited {
        // color: #888;
      }
      &:hover {
        background: $dark-green;
        color: white;
        // color: $orange;
        // color: $pale-green;
      }
      &.active {
        color: $orange;
        background: white;
        .icon {
          border-color: $orange;
        }
      }
    }
    .playlist {
      position: absolute;
      background: rgba(255,255,255,.92);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      // padding: 10px;
      display: none;
      padding: 40px 15px 15px;
      h1, h2, h3 {
        text-align: center;
      }
      h1 {
        font-size: 24px;
        line-height: math.div(26,24);
        font-weight: $weight-extrabold;
      }
      h2 {
        font-size: 18px;
        line-height: math.div(21,18);
        font-weight: $weight-medium;
      }
      h3 {
        font-size: 22px;
        line-height: math.div(26,22);
      }
      &.active {
        display: block;
      }
      .back {
        position: absolute;
        top: 0; right: 0;
        padding: 15px;
      }
      .videos {
        .video {
          display: flex;
          align-items: center;
          background: white;
          padding: 10px;
          border-radius: 7px;
          margin: 20px 0;
          background: #FFFFFF;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
          cursor: pointer;

          .preview {
            width: 33%;
            // margin-right: 
            img {
              display: block;
              width: 100%;
            }
          }
          h3 {
            flex: 1;
          }
          &:hover {
            background: $dark-green;
            color: white;
          }
        }
      }
    }
  }


}