$light-green: #AEC6AA;
$pale-green: #7cb232;
$orange: #E45300;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);

// OPEN SANS

#ufv-map-root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  *, *:after, *:before {
    box-sizing: border-box;
  }
  .stage {
    // margin: 0 auto;
    // max-width: 400px;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 750px) {
      display: flex;
      > div {
        width: 50%;
        position: relative;
      }
    }
  }
  .player {
    background: $light-green;
  }
  .instructions {
    display: none;
    @media screen and (min-width: 750px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      h1 {
        background: $pale-green;
        padding: 20px 20px;
        // width: 60%;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 18px;
        text-align: center;
        font-weight: normal;
      }
    }
  }
  .modal {
    pointer-events: none;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;
    z-index: 1;
    .backdrop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,0.5);
    }
    .video-wrap {
      overflow: hidden;
      position: relative;
      height: 0;
      width: 90%;
      padding: 0;
      padding-bottom: calc(90% * (4/3));
      background: black;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0,0,0,0.3);
      &:after {
        position: absolute;
        content: '';
        height: 20%;
        width: 100%;
        bottom: 0; left: 0;
        background: linear-gradient(to top, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100% );
      }
    }
    .controls {
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: 1;
      .icon {
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
        box-sizing: content-box;
        cursor: pointer;
        &.back { background-image: url(./images/back.svg); }
        &.sound { background-image: url(./images/sound-unmute.svg); }
        &.sound.active { background-image: url(./images/sound-mute.svg); }
        &.emoji-homg { background-image: url(./images/emoji-homg.svg); }
        &.emoji-stars { background-image: url(./images/emoji-stars.svg); }
        &.emoji-smile { background-image: url(./images/emoji-smile.svg); }
      }
      .meta-reaction {
        padding: 0px 15px 10px;
        display: flex;
        align-items: center;
        .icon {
          padding: 5px;
          @media screen and (min-width: 375px) {
            padding: 10px;
          }
          @keyframes spin {
            0% {
              transform: rotate(0) scale(1);
            }
            50% {
              transform: rotate(360deg) scale(1.25);
            }
            100% {
              transform: rotate(720deg) scale(1);
            }
          }
          &.emote {
            animation: spin 500ms;
          }
        }
        .name {
          flex: 1;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
      }
      .progress {
        height: 8px;
        width: 100%;
        transition: transform 250ms linear;
        transform-origin: bottom left;
        transform: scaleX(0.0001);
        background: #427D03;
      }
    }
    video {
      border-radius: 10px;
      display: block;
      // width: 85%;
      // height: auto;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      // transform: translateY(-110%);
      transition: transform 0.3s ease-out;
    }
    @media screen and (min-width: 750px) {
      .video-wrap {
        width: 100%;
        padding-bottom: calc(100% * (4/3));
        box-shadow: none;
      }
      .video-wrap, .name, video {
        border-radius: 0;
      }
    }
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
    &.active video {
      // transform: translateY(0%);
    }

  }
  .building {
    cursor: pointer;
    .hover,
    &.visited .initial,
    .active { display: none; }
    &:hover .hover,
    &.visited .active { display: block; }
    &:hover .initial { opacity: 1; }
  }
  /*.building .initial { opacity: .7; }*/

  .locations {
    position: relative;
    .toggle {
      background: url(./images/toggle-map.svg);
      background-size: contain;
      width: 98px;
      height: 62px;
      z-index: 1;
      position: absolute;
      bottom: 2px;
      right: 2px;
      text-indent: -9999px;
      cursor: pointer;
      // Bigger tap area.
      &:after {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -10px;
        left: -5px;
        right: -10px;
      }
      &.active {
        background-image: url(./images/toggle-list.svg);
      }
    }
    .map {
      position: relative;
      height: 0;
      width: 100%;
      padding: 0;
      padding-bottom: calc(100% * (4/3));
      svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
    .list {
      position: absolute;
      background: rgba(255,255,255,.92);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      // padding: 10px;
      display: none;
      &.active {
        display: block;
      }
    }
    .location {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 3px 5px;
      @media screen and (min-width: 750px) {
        padding: 5px 10px;
      }
      .icon {
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 100%;
        border: 2px solid $light-green;
      }
      h1 {
        margin: 0;
        flex: 1;
        font-size: 18px;
        font-weight: normal;
        @media screen and (min-width: 750px) {
          font-size: 22px;
        }
      }
      &.visited {
        color: #888;
      }
      &:hover {
        color: $orange;
        // color: $pale-green;
      }
      &.active {
        color: $orange;
        background: white;
        .icon {
          border-color: $orange;
        }
      }
    }
  }


}